.start-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-block: 10px;
    font-size: 2rem;
    border: 2px solid black;
    padding-inline: 28px;
    border-radius: 11px;
    text-align: center;
    cursor: pointer;

}
.parentDiv{
    border: 2px solid black;
    background-color: aliceblue;
    display: flex;
    gap: 10px;
    height: 85vh;
        justify-content: center;
    align-items: flex-end;

}
.eleBar{
    border: 2px solid black;
    width: 50px;
    text-align: center;
    background-color: blueviolet;
}
.reset-btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color: #ff000085;
    text-align: center;
    width: 58px;
    height: 30px;
    padding-top: 12px;

}
#algorithm-select{
    height: 35px;
    width: 115px;
    background: blueviolet;
    color: white;

}
.left{
    display: flex;
    gap: 10px;
}
.input p{
    margin: 0;
}

.input input{
    height: 35px;
    width: 400px;
}